img {
    width: 250px;
}
body {
    text-align: center;
    font-family: cursive;
    color:steelblue;
}

h3 {
    font-weight: bolder
}

#bowl {
    height: 189px;
}

.floof:hover{
    color: blue;
}

img{
    justify-content: space-around;
}

#button{
    border-color: transparent;
    font-family: cursive;
}

#ground{
    alignment-baseline: before-edge;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.adoption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adoption img{
    flex-grow:0;
    flex-shrink:0;
}

#thinking {
    font-size: 1.25em;
}