img {
    width: 250px;
}
body {
    text-align: center;
    font-family: "times new roman";
    color:steelblue;
}

h3 {
    font-weight: bolder
}

.bottom img{
    height: 189px;
    padding: 5px;
}

img{
    justify-content: space-around;
}

#button{
    border-color: transparent;
    font-family: "times new roman";
}

#ground{
    alignment-baseline: before-edge;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.adoption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adoption img{
    flex-grow:0;
    flex-shrink:0;
    padding-right: 15px;
}

#thinking {
    font-size: 1.25em;
}

#button:hover{
    color: blue;
}

#contact:hover{
    color:blue;
}

#problemBox{
    height: 25px;
    width: 300px;
}

footer {
    font-weight: bold;
    color: blue;
}